header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #ffefcd;
  color: #2a406e;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #2a406e;
  font-family: sans-serif;
  font-weight: bold;
}

nav a:hover {
  color: #141e35;
}

header img {
  height: 50px;
  width: auto;
}

#menu-toggle, .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #2a406e;
  }

  nav ul {
    display: none; 
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffefcd;
    border-top: 1px solid #2a406e;
  }

  nav ul li {
    text-align: center;
    padding: 15px 0;
  }

  #menu-toggle:checked ~ ul {
    display: flex;
  }
}